<br>
<div class="contact-style">
    <div class="text-style">
        <span>Contact Us</span>
    </div>
    <div class="hr">
        <hr>
    </div>
    <div>
        <div>
            <label>Name</label><br>
            <input class="form-control"
                   type="text">
        </div>
        <div>
            <label>Email</label><br>
            <input class="form-control"
                   type="text">
        </div>
        <div>
            <label>Subject</label><br>
            <input class="form-control"
                   type="text">
        </div>
        <div>
            <label>Message</label><br>
            <input class="form-control"
                   type="text">
        </div> <br>
        <div>
            <button style="width:100% ;"
                    type="button"
                    class="btn btn-dark">Send</button>
        </div>
    </div>
</div>