<br>
<div class="contact-style">
    <div class="text-style">
        <span>Contact Us</span>
    </div>
    <div class="hr">
        <hr>
    </div>
    <div>
        <div>
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Subject</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-label>Message</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>
        </div> <br>
        <div>

            <button mat-raised-button
                    color="primary"
                    style="width:100%">Send</button>

        </div>
    </div>
    <br> <br> <br> <br> <br> <br>
</div>