<br>
<div>
    <div class="text-style">
        <span>Who We Are</span>
    </div>
    <div class="hr">
        <hr>
    </div> <br> <br>
    <div class="jmj">
        <div class="jane">
            <img src="./assets/team1.jpg"
                 alt="">
        </div>
        <div class="mike">
            <img src="./assets/team2.jpg"
                 alt="">
        </div>
        <div class="john">
            <img src="./assets/team3.jpg"
                 alt="">
        </div>
    </div>
</div>