<br>
<div>
    <div class="text-style">
        <span>Who We Are</span>
    </div>
    <div class="hr">
        <hr>
    </div> <br> <br>
    <div class="jmj">
        <div class="jane">
            <img src="./assets/team1.jpg"
                 alt=""
                 width="340"
                 height="260">
            <div>
                <span>Jane Doe</span>
                <p>CEO & Founder</p>
                <p>Phasellus eget enim eu lectus faucibus <br> vestibulum. Suspendisse sodales pellentesque <br>
                    elementum.</p>
                <button style="width:90%;display: flex;margin:auto;"
                        type="button"
                        class="btn btn-secondary">Contact</button>
            </div>
        </div>
        <div class="mike">
            <img src="./assets/team2.jpg"
                 alt=""
                 width="340"
                 height="260">
            <div>
                <span>Mike Ross</span>
                <p>Art Director</p>
                <p>Phasellus eget enim eu lectus faucibus <br> vestibulum. Suspendisse sodales pellentesque <br>
                    elementum.</p>
                <button style="width:90%;display: flex; margin:auto;"
                        type="button"
                        class="btn btn-secondary">Contact</button>
            </div>
        </div>
        <div class="john">
            <img src="./assets/team3.jpg"
                 alt=""
                 width="340"
                 height="260">
            <div>
                <span>John Doe</span>
                <p>Art Director</p>
                <p>Phasellus eget enim eu lectus faucibus <br> vestibulum. Suspendisse sodales pellentesque <br>
                    elementum.</p>
                <button style="width:90%;display: flex; margin:auto;"
                        type="button"
                        class="btn btn-secondary">Contact</button>
            </div>

        </div>
    </div>
</div>