<div class="home-style">
    <div class="marketing-style">
        <b>MARKETING</b>
    </div><br>
    <div>
        <span>Template by w3.css</span>
    </div><br>
    <div>
        <img src="./assets/coffee.jpg"
             alt="">
    </div>
    <div class="text-style">
        <span>What We Offer</span>
    </div>
    <div class="hr">
        <hr>
    </div><br>
    <div class="dbcp-style">
        <div class="design">
            <p style="font-size: 25px;"> Design</p> <br>
            <span>Phasellus eget enim eu lectus <br> faucibus vestibulum. Suspendisse <br> sodales pellentesque
                elementum.</span>
        </div>
        <div class="branding">
            <p style="font-size:25px ;">Branding</p> <br>
            <span>Phasellus eget enim eu lectus <br> faucibus vestibulum. Suspendisse <br> sodales pellentesque
                elementum.</span>
        </div>
        <div class="consultation">
            <p style="color:white;font-size: 25px;">Consultation</p><br>
            <span style="color: white;">Phasellus eget enim eu lectus <br> faucibus vestibulum. Suspendisse <br> sodales
                pellentesque
                elementum.</span>
        </div>
        <div class="promises">
            <p style="color: white; font-size: 25px;">Promises</p><br>
            <span style="color: white;">Phasellus eget enim eu lectus <br> faucibus vestibulum. Suspendisse <br> sodales
                pellentesque
                elementum.</span>
        </div>
    </div>
</div>