<div class="text-style-plans">
    <span style="font-size:30px">Princing Plans</span><br> <br>
    <span>Choose a pricing plan that fits your needs.</span>
</div><br> <br>
<div class="bpp">

    <div class="basic">
        <div class="basic-one">
            <span>Basic</span>
        </div>

        <p>10GB Storage</p>
        <hr>
        <p>10 Emails</p>
        <hr>
        <p>10 Domains</p>
        <hr>
        <p>Endless Support</p>
        <hr>
        <p style="font-size: 30px;letter-spacing:4px">$10 <br> </p>
        <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> per month</p>
        <div class="button-signUp">
            <button class="btn btn-success">Sign Up</button>
        </div>
    </div>
    <div class="pro">
        <div class="pro-one">
            <span>Pro</span>
        </div>
        <p>10GB Storage</p>
        <hr>
        <p>10 Emails</p>
        <hr>
        <p>10 Domains</p>
        <hr>
        <p>Endless Support</p>
        <hr>
        <p style="font-size: 30px;letter-spacing:4px">$25 <br></p>
        <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> per month</p>
        <div class="button-signUp">
            <button class="btn btn-success">Sign Up</button>
        </div>
    </div>
    <div class="premium">
        <div class="basic-one">
            <span>Premium</span>
        </div>
        <p>10GB Storage</p>
        <hr>
        <p>10 Emails</p>
        <hr>
        <p>10 Domains</p>
        <hr>
        <p>Endless Support</p>
        <hr>
        <p style="font-size: 30px;letter-spacing:4px">$50 <br> </p>
        <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> per month</p>
        <div class="button-signUp">
            <button class="btn btn-success">Sign Up</button>
        </div>
    </div>

</div>