a {
    color: black;
    text-decoration: none;
}

.header-up {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-family: "Lato", sans-serif;
    background-color: #f1f1f1;
    width: 100%;
}
.hpac {
    display: flex;
    align-items: center;
    font-size: 18px;
    justify-content: center;
}
.hpac span {
    height: 100%;
    display: flex;
    align-items: center;
}

.hpac:hover {
    background-color: darkgray;
}
