a {
    color: black;
    text-decoration: none;
}

.header-up {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-family: "Lato", sans-serif;
    background-color: #f1f1f1;
    width: 100%;
    padding: 5px 0;
}
.hpac {
    display: flex;
    align-items: center;
    font-size: 18px;
}
.hpac a {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5px 150px;
}

.hpac :hover {
    background-color: darkgray;
}
